$fontPath: 'chrome-extension://__MSG_@@extension_id__/fonts/';
@font-face {
	font-family: 'Pokemon';
	src: url(#{$fontPath}pokemon-font.ttf);
}

.battle {
    font-size: 65% !important;
    font-family: Pokemon !important;
}
.battle-controls {
    font-size: 65% !important;
    font-family: Pokemon !important;
}
.trainer strong {
    font-size: 80% !important;
    font-family: Pokemon !important;
}
.turn {
    font-size: 110% !important;
}
.statbar .hpbar .hptext {
    font-size: 80% !important;
}
.battle-controls .whatdo {
    font-size: 110% !important;
}

.turn {
    position: absolute;
    display: block;
    top: 10px;
    left: 110px;
    font-size: 13pt;
    font-weight: 700;
    margin: 0;
    padding: 2px 8px;
    border: 2px solid #000000;
    border-radius: 6px;
    color: #000000;
    background: #ffffff;
}