$fontPath: 'chrome-extension://__MSG_@@extension_id__/fonts/';
$imagePath: 'chrome-extension://__MSG_@@extension_id__/images/';

@font-face {
	font-family: 'Pokemon';
	src: url(#{$fontPath}pokemon-font.ttf);
}

.battle {
    font-size: 65% !important;
    font-family: Pokemon !important;
    background-color: #ffffff !important;
}

.battle-controls {
    font-size: 65% !important;
    font-family: Pokemon !important;
}

.trainer strong {
    letter-spacing: -1px;
    font-size: 80% !important;
    font-family: Pokemon !important;
}

.turn {
    font-size: 170% !important;
}

.battle-controls .whatdo {
    font-size: 110% !important;
}

.turn {
    position: absolute;
    display: block;
    top: 10px;
    left: 110px;
    font-size: 13pt;
    font-weight: 700;
    margin: 0;
    padding: 2px 8px;
    border: 2px solid #000000;
    border-radius: 6px;
    color: #000000;
    background: #ffffff;
}

.backdrop {
    display: block;
    background-image: url(#{$imagePath}others/background.png) !important;
    opacity: 1.0 !important;
}

.leftbar {
    position:absolute;top:0;left:0;height:450px;width:100px;
    background-color:#ccc;
    background-color:rgba(0,0,0,.0) !important;
}

.rightbar {
    position:absolute;top:0;right:0;height:450px;width:100px;
    background-color:#ccc;
    background-color:rgba(0,0,0,.0) !important;
}

.statbar strong {
    letter-spacing: -1px;
    font-size: 130% !important;
}

.statbar .hpbar {
    margin-top: 4px !important;
    background-color: #000000 !important;
    border: 0px !important;
    border-radius: 0px !important;
    border-bottom: 4px solid #000000 !important;
}

.lstatbar .hpbar {
    padding-right: 4px !important;
}

.rstatbar .hpbar {
    padding-left: 4px !important;
}

.statbar .hpbar .hptext {
    background: #000000 !important;
    color: #FFE68C !important;
    line-height: 0.8 !important;
    height: 15px !important;
}

.statbar .hpbar .hp {
    border-top: 2px solid #00B200 !important;
    background: #00B200 !important;
    border-bottom: 2px solid #00B200 !important;
    border-right: 1px solid #00B200 !important;
    border-radius: 0px !important;
}

.trainer strong {
    color: black;
}

.messagebar {
    color: black !important;
    left: 120px !important;
    right: 120px !important;
    background: #ffffff !important;
    border-bottom: 3px double black !important;
    border-left: 4px double black !important;
    border-right: 4px double black !important;
    border-top: 5px double black !important;
    border-radius: 5px !important;
    padding: 8 8px !important;
    letter-spacing: -1px;
    font-size: 150% !important;
}

.messagebar strong {
    color: black !important;
}
